/*XL Device :1200px */
@media (min-width: 1450px) and (max-width: 1600px){

}
@media (min-width: 1200px) and (max-width: 1449px){
	
}

/*LG Device :992px */
@media (min-width: 992px) and (max-width: 1199px){
    .slider-content {
        font-size: 17px; 
    }
    .trip-trending-footer a {
        font-size: 10px;
    }
    .follow-me .social-links li:nth-child(4) a {
        margin-top: 45px;
    }
    .footer .content h5 {
        font-size: 16px;
    }
}

/*MD Device :768px */
@media (min-width: 768px) and (max-width: 991px){
    .slider-content {
        font-size: 24px;}
        .slider-item {
            margin-bottom: 30px;
        }
    .weather{
        text-align: center;
    }
    .follow-me{
        text-align: center;
    }

    .advertisement{
        text-align: center;
    }
    .footer-title h4 {
        font-size: 14px;
    }
    .footer .destination li a {
        font-size: 12px; }
        .footer .destination li span {
            font-size: 10px;
            padding: 3px 5px;
        }
    .footer .col-20:nth-child(2) {
            display: none;
        }

    .footer .col-20:nth-child(3) {
            display: none;
        }
   .footer .col-20{
       width: 33.33%;
   }
   .footer .content h5 {
    font-size: 21px;
}
}

/*Extra Small Device */
@media (max-width: 767px){
    .slider-content {
        font-size: 20px;}
    .slider-item {
            margin-bottom: 20px;
        }
    .title h6{
            font-size: 16px; }
    .title-menu li a {
            font-size: 10px;
            padding: 6px 8px;}
    .title-menu .arrow {
        margin-left: 3px;
  }
        .trip-trending{
    margin-bottom: 25px;
    }
    .check .content {
        margin-bottom: 25px; }
    .trending-box h4 a {
            font-size: 12px;}
    .weather{
            text-align: center;
            }
    .follow-me{
            text-align: center;
            }
        
    .advertisement{
            text-align: center;
            }

    .follow-twitter{
        text-align: center;
    }
    .footer .col-20:nth-child(2) {
                display: none;
            }
    
    .footer .col-20:nth-child(3) {
                display: none;
            }
    .footer .col-20{
           width: 33.33%;
       }
    .footer .content h5 {
        font-size: 14px;
    }
}

/*SM Small Device :550px */
@media (min-width: 576px) and (max-width: 767px){
    .slider-content {
        font-size: 20px;}
    .slider-item {
            margin-bottom: 20px;
        }
    .title h6{
            font-size: 16px; }
    .title-menu li a {
            font-size: 10px;
            padding: 6px 8px;}
    .title-menu .arrow {
        margin-left: 3px;
  }
        .trip-trending{
    margin-bottom: 25px;
    }
    .check .content {
        margin-bottom: 25px; }
    .trending-box h4 a {
            font-size: 12px;}
    .weather{
            text-align: center;
            }
    .follow-me{
            text-align: center;
            }
        
    .advertisement{
            text-align: center;
            }

    .follow-twitter{
        text-align: center;
    }
    .footer .col-20:nth-child(2) {
                display: none;
            }
    
    .footer .col-20:nth-child(3) {
                display: none;
            }
    .footer .col-20{
           width: 33.33%;
       }
    .footer .content h5 {
        font-size: 14px;
    }
}