/* Google Fonts   */
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Roboto:wght@400;500&display=swap');
html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Average Sans', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #DBD1A4;
    overflow-x: hidden;
}

ul {
    list-style: outside none none;
  }
  
  li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
  }
.body-content{
    background-color: #fff;
    padding: 0;
}
.title h6{
    font-size: 20px;
    font-weight: 600 ;
    color: #01b7f2 ;
}
a{
    text-decoration: none;
}
.p-30{
    padding: 30px !important;
}
.mb-50{
    margin-bottom: 50px !important;
}
.mb-30{
    margin-bottom: 30px;
}
.pb-50{
    padding-bottom: 50px !important;
}
/* 01 Header area  */
.logo{
  padding:20px 0;
}
.logo a img{
    width: 200px;
    height: auto;
    
}
.main-menu {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-width: 1px 0;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0;
}
.navbar-nav .nav-item .nav-link{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
    padding: 15px 20px;
    transition: .3s;
}
.navbar .nav-item .follow  .nav-link{
    font-size: 10px !important;
    padding-top: 20px !important;
}
.navbar .nav-item.active .nav-link{
    color: #fff;
 
    background-color: #08f;
    padding: 15px 20px;
}
.navbar .nav-item .nav-link:hover{
    color: #fff;
    background-color: #08f;
    padding: 15px 20px;
}
/* 02 Slider area  */
.slider-section{
    padding: 20px;
}
.slider-item {
    background: url(../images/slider01.jpeg) no-repeat center/cover;
    padding: 20px;
    padding-top: 250px;
    position: relative;
    z-index: 1;
    color: #fff
}
 .item2{
    background: url(../images/slider02.jpeg) no-repeat center/cover;
}
.item3{
    background: url(../images/slider03.jpeg) no-repeat center/cover;
}
.item4{
    background: url(../images/slider04.jpeg) no-repeat center/cover;
}
.slider-item::before ,
.item2::before,
.item3::before,
.item4::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: .5;
        z-index: -1;
}
.country {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #08f;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
}
.date{
    font-size: 13px;
    font-weight: 400;
}
.slider-content{
    font-size: 21px;
    font-weight: 600;
}
/* 03 trip photos about section  */
.trip-photos-about-section{
    padding-left: 30px;
}
.trip{
    border: 1px solid #ddd;
    padding: 30px;
   
}
.trip h6{
    font-size: 20px;
    font-weight: 600;
    color: #01b7f2;
    
}
.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #01b7f2;
}
.title::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background:#01b7f2;
    left: 0;
    bottom: -2px;
}
.trip .title-menu{
    list-style: none;
    display:flex;
    
}
.title-menu li a{
    font-size: 12px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: capitalize;
    transition: .3s ease;
}
.title-menu li a:hover{
    background: #0DBAF2;
    color: #fff;
}
.title-menu .arrow {
    border: 1px solid #ddd;
    margin-left: 5px;
}
.trip-trending{
    background: url(../images/trip2.jpeg) no-repeat center/cover;
    padding: 250px 20px 20px 20px;
    color: #fff;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    
}
.trip-trending::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .4;
    z-index: -1;
}
.trip-trending h3{
    font-size: 24px;
    font-weight: 600;
    margin: 5px 0;
   
}
.trip-trending h3 a{
    text-decoration: none;
    color: #fff;
    font-family: 'Average Sans', sans-serif;
    display: inline-block;
}
.trip-trending-country{
    text-transform: capitalize;
    background: #08f;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.trip-trending-footer .author-date {
    display: inline-block;
}
.trip-trending-footer a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
}
.trip-trending-footer .comment-like {
    float: right;
}
.trip-trending-footer i{
    padding-right: 3px;
}
.trip-right-item{
    padding-left: 150px;
    margin-bottom: 15px;
    position: relative;
}
.trip-right-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 105%;
    width: 135px;
    background: #ddd;
    background: url(../images/trip/asset\ 1.jpeg) no-repeat center/cover;
}

.trip-right-item h3 {
    line-height: 15px;
}
.trip-right-item h3 a{
    text-decoration: none;
    font-family: 'Average Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    transition: .3s;
}
.trip-right-item h3 a:hover{
    color:  #0DBAF2;
}
.trip-right-item span{
    color: #767676;
    font-size: 12px;
    font-weight: 400;
}
.trip-right-item span i{
    margin-right: 5px;
}
 /* 04 photos area  */
 .photos{
     padding: 30px;
     margin: 15px 0;
     border: 1px solid #ddd;
     margin-bottom: 50px;
 }
 .photos h6{
    font-size: 20px;
    font-weight: 600;
    color: #01b7f2;
 
 }

 .all-images img{ width: 15%;
    padding: 5px;}
   
 /* .all-images a::before{
     content: "\f03e";
     font-family: "Font Awesome 5 Free"; 
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0);
     font-size: 0px;
     color: #fff;
     text-align: center;
     visibility: hidden;
     transition: .3s;
 }
 .all-images a:hover::before{
    background: rgba(0,0,0,.8);
    font-size: 30px;
    visibility: visible;
    transition: .3s;
 } */
 /* 05 about me area  */
 .about-me,
 .subscribe-box{
     margin-right: 15px;
     margin-left: -10px;
     margin-bottom: 20px;
     border: 1px solid #ddd;
     padding: 30px 30px 10px 30px;
 }
 .about-me h6 {
     color: #000;
     font-weight: 600;
 }
 .about-me .title::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background:#000;
    left: 0;
    bottom: -2px;
}
.about-me-content img{
    margin-bottom: 20px;
}
.about-me-content h4{
    font-size: 23px ;
    font-weight: 600;
    color: #2c2f34;
}
.about-me-content p{
    font-size: 13px;
    font-weight: 400;
    color: #2c2f34;
}
/* 06 .subscribe-box area  */
.subscribe-box {
    text-align: center
}
.subscribe-box i{
    display: block;
    color: #ddd;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
.subscribe-box span{
    font-size:15px ;
    padding-bottom: 20px;
    font-weight:400 ;
    color: #2c2f34;
    position: relative;
}
.subscribe-box span::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    left: 50%;
    margin-left: -25px;
    bottom: 5px;
    background: #ddd;
}
.subscribe-box h4{
    margin-top: 20px;
    font-size: 28px;
    font-weight: 600;
    color:#2c2f34;
}
.subscribe-box input{
    margin-top: 10px;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 7px 5px 7px 90px;
    font-size: 12px;
    width: 100%;
}
.subscribe-box form{
    position: relative;
}
.subscribe-box form::before{
    position: absolute;
    content: "\f0e0";
    font-family: 'Font Awesome 5 Free';
    color: #ddd;
    font-size: 20px;
    left: 15px;
    top: 12px;
}
.subscribe-box .btn{
    background: #01b7f2;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-top: 15px;
    transition: .3s;
}
.subscribe-box .btn:hover{
    opacity: .5;
    color: #fff;
}
/* 07 check area  */
.check{
    padding: 30px;
    margin: 15px 0;   
}
.check .content{
    background: url(../images/asset\ 42.jpeg) no-repeat center/cover;
    padding: 300px 20px 20px 20px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.check .content2{
    background: url(../images/asset\ 45.jpeg) no-repeat center/cover;
}
.check .content::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: -1;
}
.check .content h3 a{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
/* 08 trend-populer-follow-recent */
.trend-populer-follow-recent .area-border {
    border: 1px solid #ddd;
}
.trend-populer-follow-recent .trip-trending{
    background: url(../images/asset\ 7.jpeg) no-repeat center/cover;
}
.trend-populer-follow-recent .trending-box{
    margin-top: 30px;
    
}
.trending-box img{
    width: 100%;
    height: 140px;
}
.trending-box span{
    color: #767676;
    font-size: 12px;
    font-weight: 400;
}
.trending-box .author-date{
    padding-top: 10px;
}
.author-date .comment{
    float: right;
}
.trending-box h4 a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    color: #000;
    transition: .3s;
}
.trending-box h4 a:hover{
    color: #08f;
}
.trend-populer-follow-recent .recent{
    border: 1px solid #ddd;
}
/* recent area  */
.recent .recent-box{
    background: url(../images/asset\ 17.jpeg) no-repeat center/cover;
    padding: 250px 20px 20px 20px;
    position: relative;
    width: 100%;
    height: auto;
}
.recent .recent-box i{
    font-size: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: -30px;
    margin-left: -30px;
    color: #fff;
    line-height: 60px;
    opacity: 0;
    transition: .5s;
}
.recent .recent-box:hover i{
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    opacity: 1;
}
.recent .recent-box::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0;
    transition: .5s;
}
.recent .recent-box:hover::before{
    opacity: .5;
}
.recent .recent2{
    background: url(../images/asset\ 35.jpeg) no-repeat center/cover;
}
.recent .recent3{
    background: url(../images/asset\ 36.jpeg) no-repeat center/cover;
}
.recent .recent4{
    background: url(../images/asset\ 37.jpeg) no-repeat center/cover;
}
.recent .recent5{
    background: url(../images/asset\ 41.jpeg) no-repeat center/cover;
}
.recent .recent6{
    background: url(../images/asset\ 39.jpeg) no-repeat center/cover;
}
.recent-box .country2{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #08f;
    color: #fff;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
}
.recent span a {
 
    color: #767676;
}
.recent .trip-trending-footer{
    margin-top: 5px;
}
.recent .left-content h4 a{
    text-decoration: none;
    color: #000;
    font-size:20px;
    font-weight: 600;
    transition: .3s;

}
.recent .left-content h4 a:hover{
    color: #08f;
}
.recent .left-content p{
    font-size: 13px;
    font-weight: 400;
    color: #666;
}
.load-more {
    border-top: 1px solid #ddd;
    margin: 0px -46px;
    padding-top: 10px;
    margin-bottom: -16px;
    
}
.load-more a{
    font-size: 16px;
    color: #000;
    transition: .3s;
    padding: 10px 0px;
}
.load-more a:hover{
    color: #08f;
}
/* follow me  */
.follow-me{
    border: 1px solid #ddd;
    padding-bottom: 50px !important
}
.follow-me .title h6{
    font-size: 15px;
    color: #33363A;
}
.follow-me .title::before{
    background: #33363A;
}
.follow-me .social-links {
    margin-left: -40px;
}
.follow-me .social-links li{
    list-style: none;
    display: inline-block;
   
}
.follow-me .social-links li  a {
    font-size: 20px;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    transition: .3s;
    position: relative;
}
.social-links li a span {
    color: #000;
    position: absolute;
    left: 0px;
    top: 55px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
}
.follow-me .social-links li  a:hover{
    opacity: .9;
}
.follow-me .social-links li:nth-child(1) a{
    background: #4080FF;
}
.follow-me .social-links li:nth-child(2) a{
    background: #40bff5;
}
.follow-me .social-links li:nth-child(3) a{
    background: #ef4e41;
}
.follow-me .social-links li:nth-child(4) a{
    background: #c13584;
}
/* popular articles  */
.popular-articles{
    border: 1px solid #ddd;
    padding-bottom: 50px !important
}
.popular-articles .trip-right-item{
    margin-right: -25px;
}
.popular-articles .title h6{
    font-size: 15px;
    color: #33363A;
}
.popular-articles .title::before{
    background: #33363A;
}
.popular-articles  .trip-right h3 a{
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    padding: 0;
}
.popular-articles  .trip-right span{
    font-size: 11px;
    font-weight: 400;
}
.popular-articles  .trip-right .number {
    background: #01b7f2;
    color: #fff;
    border: 2px solid #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    border-radius: 50%;
    left: -5px;
    top: -10px;
}
/* follow-twitter  */
.follow-twitter{
    border: 1px solid #ddd;
}

.follow-twitter .title h6{
    font-size: 15px;
    color: #33363A;
}
.follow-twitter .title::before{
    background: #33363A;
}
.follow-twitter .btn{
    color: #fff;
    background: #01b7f2;
    padding: 5px 15px;
    text-decoration: none;}
    /* Footer area  */
.footer{

        background: url(../images/footerBG.jpeg) no-repeat center/cover;
        height: auto;
    }
.footer-title h4{
    margin: 30px 0;
    padding-bottom: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}
.footer-title h4::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 40px;
    background: #01b7f2;
    left: 0;
    bottom: 0;
}
.footer .left-content a{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    line-height: 14px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}
.footer .left-content a:hover{
    color: #40bff5;
}
.footer .all-img img {
    display:inline-block;
    width: 30%;
    margin-bottom: 5px;
}
.footer .destination li{
    position: relative;
    display: block;
    margin-bottom: 20px;
  
}
.footer .destination li::before{
    position: absolute;
    content: ">";
    top: 0;
    left: -20px;
   color: #fff;
   font-size: 18px;
}
.footer .destination li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color:#fff ;
    text-decoration: none;
    transition: .3s;
}
.footer .destination li a:hover{
    color: #40bff5;
}
.footer .destination li span{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    float: right;
    background: #40bff5;
    padding: 5px 7px;
}
.col-20{
    width: 20%;
    padding: 15px;
    float: left;
}
.footer .content{
    background: url(../images/asset\ 41.jpeg) no-repeat center/cover;
    height: auto;
    padding: 100px 10px 10px 10px;
    color: #fff;
    font-size: 14px; 
    font-weight: 400;
    position: relative;
    z-index: 1;
}
.footer .box2{
    background: url(../images/asset\ 42.jpeg) no-repeat center/cover;
}
.footer .box3{
    background: url(../images/asset\ 43.jpeg) no-repeat center/cover;
}
.footer .box4{
    background: url(../images/asset\ 44.jpeg) no-repeat center/cover;
}
.footer .box5{
    background: url(../images/asset\ 45.jpeg) no-repeat center/cover;
}
.footer .content::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.footer .content span{
    font-size: 10px;
}
.footer .content span i{
    padding-right: 5px;
}
.footer-bottom{
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    padding-bottom:-10px;
    padding-top: 30px;
}
.footer-social{
    float: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
   
    padding-bottom:-10px;
    padding-top: 30px;
}
.footer-social li a{
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    transition: .3s;
}
.footer-social li a:hover{
    color: #40bff5;
}
